header{
    padding: 16px 0;
    background-color: #3498db;
    border-bottom: 4px solid blue;

    .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

    h1{
        color: #fff;
        font-size: 40px;
        cursor: default;
    }

    ul{
        display: flex;
        gap: 16px;
    }

    li{
        list-style: none;
        position: relative;
    }
    
    a{
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: 600;

        &:hover{
            font-weight: 900;
            color: antiquewhite;
            transition: all 0.3s ease;
        }
        }
}