@mixin tablet{
    .conteudo{
        display: block;
    }

    .container{
        max-width: 90%;
    }


    .sobre{
    justify-content: center;
    margin: 50px 5%;
    display: block;
    border-radius: 4px;

    img{
        width: 550px;
        border-radius: 4px;
        margin-bottom: 2em;
        }
    }

    .coluna{
        margin: 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;

        h2{
            font-size: 2em;
            font-style: italic;
            padding-bottom: 0.5em;
            border-bottom: 3px solid #9b59b6;
        }

        p{
            font-size: 1em;
        }

        .bootstrap{
            max-width: 3em;
        }

        .social-media-itens{
            list-style: none;
            display: flex;
            justify-content: start;
            gap: 30%;
        }

    }





.produtos{
    margin: 0;
    display: block;
    h2{
        font-style: italic;
        font-size: 3em;
        margin-bottom: 16px;
        border-bottom: 3px solid #9c59b641;
    }

    h3{
    margin-top: 8px;
    font-size: 1.5em;
    color: #2c3e50;
    }

    a{
        text-decoration: none;
    }

    p{
        font-size: 1em;
        font-style: italic;
        color: #000000c4;
    }

    ul{
        display: flex;
        justify-content: center;
        gap: 3em;
        flex-wrap: wrap;
    }

    li{
        margin-bottom: 2em;
        list-style: none;
        max-width: 45%;
    }

    img{
        width: 100%;
        border: #16a085 solid 1px;
        border-radius: 1em;
    }

    .jqtstrm{
        width: 84.5%;
    }

    .btn{
        border: #27ae60 solid 2px;
        border-radius: 4px;
        background-color: #2ecc71;
        color: #fff;
        font-weight: bold;
        padding: 0 5em;
    }
}
}


@media screen and (max-width:767px) {
    @include tablet;
}

@media screen and (max-width:640px) {
    @include tablet;
    .sobre img{
        max-width: 100%;
    }

    .produtos{

        .jqtstrm{
            width: 100%;
        }

        .btn{
            padding: 0 11em;
        }

        li{
            max-width: 100%;
        }

    }
}