@mixin titulo(){
    padding: 19px;
    border-radius: 4px;
    margin: 50px 10%;
    &:hover{
        background-color: #02a2ff1a;
    }
}

@mixin h2(){
    font-size: 2em;
    font-style: italic;
}

.produtos{
    @include titulo();

    h2{
        font-style: italic;
        font-size: 5em;
        margin-bottom: 16px;
        border-bottom: 3px solid #9c59b641;
        cursor: default;
    }

    h3{
        @include h2();
        color: #2c3e50;
        font-style: normal;
    }
    
    a{
        text-decoration: none;
        color: #000;
    }

    p{
        font-size: 0.85em;
        font-style: italic;
        color: #000000c4;
    }

    ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        gap: 2em;
    }

    li{
        margin-bottom: 2em;
        list-style: none;
    }

    img{
        width: 50%;
        border: #16a085 solid 1px;
        border-radius: 1em;
    }

    .jqtstrm{
        width: 84.5%;
    }

    .btn{
        border: #27ae60 solid 2px;
        border-radius: 4px;
        background-color: #2ecc71;
        color: #fff;
        font-weight: bold;
        font-size: 1em;
    }
}